body {
    top: 0;
    left: 0;
    background-color: var(--color-branco);
    font-family: var(--font);
}

.navigation__content {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-azul);
    height: 50px;
    width: 100vw;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__content img {
    width: 40px;
    height: 50px;
}

.navigation__content .navigation__menu {
    margin-right: 20px;
    display: flex;
    gap: 30px;
}

.navigation__content .navigation__menu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.highlight {
    font-weight: 600;
    text-decoration: underline;
}

.navigation__content .navigation__menu a:hover {
    font-weight: 600;
}

.footer__content {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-azul);
    color: white;
    height: 60px;
    width: 100vw;
    display: flex;
    padding: 10px;
    align-items: center;
}