:root {
    --azul: #1C3144;
    --verde-medio: #7EA16B;
    --verde-claro: #C3D898;
    --vermelho: #70161E;
    --branco: #F2F2F2;
}

body {
    top: 0px;
    margin: 0px;
    font-family:'Inter', Tahoma, Geneva, Verdana, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: var(--vermelho);
    position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
    color: black;
}

/* Style navigation menu links */
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    margin-top: -2px;
}

/* Style the hamburger menu */
.topnav a.icon {
    background: var(--azul);
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
}

/* Style the active link (or home/logo) */
.active {
    background-color: var(--azul);
    color: white;
    font-size: 1.3em;
}

#introducao {
    background-image: linear-gradient(var(--verde-claro),var(--branco));
    height: 150px;
    padding: 20px;
    font-size: 1.2em;
}

#introducao > p {
    margin-top: 0px;
    margin-bottom: 0px;
}

#introducao > h2 {
    margin: 0;
}

#introducao > a {
    color: white;
    background-color: var(--vermelho);
    padding: 10px;
    font-size: .8em;
    border-radius: 25px;
    text-decoration: none;
}

#sobremim {
    background-color: var(--azul);
    height: 300px;
    padding: 10px;
    color: white;
}

#projetos {
    background-image: linear-gradient(var(--verde-claro),var(--branco));
    height: 300px;
    padding: 10px;
}

h3 {
    margin: 0px;
}

#habilidades {
    background-color: var(--azul);
    height: 300px;
}

#contato {
    background-color: var(--vermelho);
    height: 150px;
    color: white;
}
  