.main__content {
    margin-top: 100px; /* top rigth bottom left */
    padding: 20px;
    display: grid;
    gap: 16px;
    grid-gap: 16px;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.main__card {
    width: 350px;
    height: 200px;
    background-color: var(--color-cinza);
    position: relative;
    overflow: hidden;
}

.main__card .main__img-container {
    position: relative;
}

.main__card img {
    display: block;
    height: 200px;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.main__card .main__img-container img {
    transform: scale(1.1);
}

.main__card .main__hidden {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.main__card .main__hidden span {
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.main__card:hover .main__hidden {
    opacity: 1;
}